<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand pe-8 fs-1" href="index.html">vivre</a>
    <button class="navbar-toggler d-flex flex-column d-lg-none justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-body d-lg-block d-none">
      <form class="position-relative search">
        <input class="form-control border rounded-pill py-6" type="search" placeholder="搜尋文章" aria-label="Search">
        <i class="bi bi-search text-primary position-absolute top-50 start-100 translate-middle pe-5"></i>
      </form>
    </div>
    <div class="collapse navbar-collapse d-flex justify-content-lg-end justify-content-center" id="navbarToggler">
      <ul class="navbar-nav d-flex w-100 align-items-lg-center align-items-sm-start justify-content-end fw-bold">
        <li class="nav-item d-lg-none pb-4 pt-4">
          <form class="nav-item d-lg-none position-relative w-100 search">
            <input class="form-control border rounded-pill py-6" type="search" placeholder="搜尋文章" aria-label="Search">
            <i class="bi bi-search text-primary position-absolute top-50 start-100 translate-middle pe-5"></i>
          </form>
        </li>
        <li class="nav-item pe-7 pb-lg-0 pb-4">
          <a class="nav-link" aria-current="page" href="content.html">所有文章</a>
        </li>
        <li class="nav-item pe-7 pb-lg-0 pb-4">
          <a class="nav-link" href="#">訂閱方案</a>
        </li>
        <li class="nav-item pe-7 pb-lg-0 pb-7">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li class="pt-lg-0 pt-7">
          <button class="btn btn-primary rounded-pill text-light py-lg-3 py-6 px-lg-4 w-100">登入／註冊</button>
        </li>
      </ul>
    </div>
  </div>
</nav>